@import './variables.scss';

.download-hero-heading {
  font-weight: 400;
  @include no-margin-padding;
  max-width: 600px;
  width: 100%;

  &.desktop {
    margin: 0 0 40px 0;
  }
}

.download-hero-paragraph {
  @include no-margin-padding;

  > p > a {
    color: $light-green;
  }
}
