$light-green: #86b96e;
$green: #4d8342;
$dark-green: #48772c;
$white: #fff;
$light-gray: #efefef;
$gray: #494949;
$black: #000;

$standard-font: 'Open Sans', sans-serif;

$header-height: 86px;

$footer-height-mobile: 548px;
$footer-height-desktop: 251px;

$standard-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
$standard-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}
